<%- include('../../partials/header.ejs') %>
   <%- include('../../partials/navbar.ejs') %>
      <section class="mt-50 mb-50">
         <div class="container">
            <div class="card">
               <div class="card-header">
                  <h2>Novo artigo</h2>
               </div>
               <div class="card-body">
                  <form method="post" action="/articles/save">
                     <div class="form-group">
                        <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo">
                     </div>
                     <div class="form-group">
                        <select name="category" class="form-control">
                           <option value="">Selecione a categoria</option>
                           <% categories.forEach(category => { %>
                              <option value="<%= category.id %>"><%= category.title %></option>
                           <% }) %>
                        </select>
                     </div>
                     <div class="form-group">
                        <textarea class="form-control" name="body" id="article" rows="15" placeholder="Escreva o artigo aqui!"></textarea>
                     </div>
                     <button class="btn btn-default">Cadastrar</button>
                  </form>
               </div>
            </div>
         </div>
      </section>
<%- include('../../partials/footer.ejs') %>