<%- include('partials/header.ejs') %>
   <%- include('partials/navbar-home.ejs') %>
   <section class="mt-50 mb-50">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="card">
                  <img src="https://tech-cookbook.com/wp-content/uploads/2021/11/wp-macos12-mysql-workbench-750x410.png" class="card-img-top" alt="...">
                  <div class="card-body pd-30">
                     <h1 class="card-title"><%= article.title %></h1>
                     <small class="text-muted"><%= article.createdAt %></small>
                     <%- article.body %>
                  </div>
               </div>
            </div>
            <!-- Sidebar -->
            <%- include('partials/sidebar.ejs') %>
         </div>
      </div>
   </section>
<%- include('partials/footer.ejs') %>