<%- include('partials/header.ejs') %>
   <%- include('partials/navbar-home.ejs') %>
   <section class="mt-50 mb-50">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center mb-50">
               <h1>Categoria: <%= category.title %></h1>
            </div>
            <% articles.forEach(article => { %>
               <div class="col-md-4 col-lg-4">
                  <div class="card mb-30">
                     <div class="card-header">
                        <h2><%= article.title %></h2>
                     </div>
                     <div class="card-body">
                        <% 
                           var content = article.body;
                           var summary = content.replace(/(<([^>]+)>)/ig,'');
                           var summary = summary.substr(0, 100);
                        %>
                        <%- summary %>(...)
                     </div>
                     <div class="card-footer">
                        <a href="/<%= article.slug %>" class="btn btn-default">Ler artigo</a>
                     </div>
                  </div>
               </div>
            <% }) %>
         </div>
      </div>
   </section>
<%- include('partials/footer.ejs') %>