<%- include('partials/header.ejs') %>
   <%- include('partials/navbar-home.ejs') %>
   <section class="mt-50 mb-50">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <% result.articles.rows.forEach(article => { %>
                  <div class="card mb-30">
                     <img src="https://tech-cookbook.com/wp-content/uploads/2021/11/wp-macos12-mysql-workbench-750x410.png" class="card-img-top" alt="...">
                     <div class="card-body">
                        <a href="/<%= article.slug %>">
                           <h2 class="card-title"><%= article.title %></h2>
                        </a>
                        <% 
                           var content = article.body;
                           var summary = content.replace(/(<([^>]+)>)/ig,'');
                           var summary = summary.substr(0, 800);
                        %>
                        <p class="card-text"><%- summary %>(...)</p>
                        <a href="/<%= article.slug %>" class="btn btn-default">Ler artigo</a>
                     </div>
                     <div class="card-footer">
                        <small class="text-muted"><%= article.createdAt %></small>
                     </div>
                  </div>
               <% }) %>
            </div>
            <!-- Sidebar -->
            <%- include('partials/sidebar.ejs') %>
         </div>
         <!-- Pagination -->
         <div class="row">
            <div class="col-md-8">
               <!-- Prev -->
               <% if(result.page > 2) { %>
                  <a class="float-left" href="/page/<%= result.page - 1 %>">< P치gina Anterior</a>
               <% } else if(result.page == 2) { %>
                  <a class="float-left" href="/">< P치gina Anterior</a>
               <% } %>
               <!-- Next -->
               <% if(result.next) { %>
                  <a class="float-right" href="/page/<%= result.page + 1 %>">Pr칩xima P치gina ></a>
               <% } %>
            </div>
         </div>
      </div>
   </section>
<%- include('partials/footer.ejs') %>